

 
/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-logo {
  height: 40px;
}

.header-center {
  flex: 1;
  justify-items: center;
  max-width: 700px;
  margin: 0 1rem;
 
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown{
    position: relative;
 
}
.dropdown-content{
    border-radius: 20px;
    display: none;
    margin: 2px 15px 20px -120px ;
    padding: 20px 0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
 
}
.icon{
   display: hidden;
   color: rgb(221, 19, 19);
   position: absolute;
   right:8885px
}

.dropdown-content span{
    font-size: 20px;
    color: black;
    cursor: pointer;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
}
.dropdown-content span:hover{
    background-color: #ddd;

}
.dropdown:hover .dropdown-content{
    display: block;
} 
 /* .dropdown:hover .dropdown-btn{

}  */
  .search-icon{
    display: none;
  }

  @media(max-width:768px){
    .header-center {
  
  display: none;
 
}
.search-icon{
    display: flex;
    width: 100px;
    border: none;
    padding: 3px 10px;
    outline: none;
    position: relative;
    border-radius: 30px;
    width: 150px;
  }
  .header-right p{
    display: none;
  }
  .search-div{
    border: 1px solid rgb(160, 154, 154);
     border-radius: 50px;
     margin: 0 10px;
  }
  .icon{
    display: block;
    color: rgb(0, 0, 0);
    position: absolute;
     right: 165px; 
    top: 40px;
  }
  }
